:host {
  display: block;
  width: 43rem;
  min-height: 25rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--gray-8);
  box-shadow: var(--shadow-3);
}


div.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


