:host {
  display: block;
}

a {
  text-decoration: none;
  color: var(--blue-12);
  padding: .2rem;
  margin: 0 .2rem ;
  background-color: var(--gray-5);
  border-radius: .2rem;
}

label {
  padding: var(--padding-2);
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 44rem);
  gap: 1rem;
  margin: 1rem;
}
