@import "open-props/style";

/* just light or dark themes */
@import "open-props/normalize";
@import "open-props/buttons";

:root {
  --brand: #4d148c
}
label {
  width: 30rem;
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  span {
    display: block;
    margin-left: -1rem;
  }

}

input {
  width: 29rem;
  padding: var(--size-2);
  border: 1px solid var(--surface-3);
  border-radius: var(--size-1);
  background-color: var(--surface-2);
  font-size: var(--size-4);
  transition:
    border-color 0.3s,
    background-color 0.3s;

  &:focus {
    border-color: var(--brand);
    outline-color: var(--brand);
    background-color: var(--surface-3);
  }
}


fieldset {
  display: flex;
  margin-top: var(--size-2);
  flex-direction: column;
  gap: var(--size-2);
  width: 30rem;
  padding-left: 1rem;

}

label:has(input:invalid) {

  input {
    border-color: var(--red-8);
  }

  input:focus-visible {
    outline-color: var(--red-9);
  }
}
